/* Results panels */
.today,
.fiveDay {
  visibility: hidden;
}

/* All weather icons */
.wi {
  width: 2em;
}

/* Span around UV Index value for today */
#uvIndex {
  padding: 5px 10px;
  border-radius: 5px;
}
